<p id="notice"><%= notice %></p>

<p>
  <strong>Start datetime:</strong>
  <%= @advertisement.start_datetime %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @advertisement.end_datetime %>
</p>

<p>
  <strong>Tempo exibicao:</strong>
  <%= @advertisement.tempo_exibicao %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @advertisement.image_url %>
</p>

<p>
  <strong>Advertisement:</strong>
  <%= @advertisement.advertisement_id %>
</p>

<p>
  <strong>Advertisement name:</strong>
  <%= @advertisement.advertisement_name %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @advertisement.campaign_id %>
</p>

<p>
  <strong>Campaign name:</strong>
  <%= @advertisement.campaign_name %>
</p>

<p>
  <strong>Campaign customers name:</strong>
  <%= @advertisement.campaign_customers_name %>
</p>

<p>
  <strong>Screen:</strong>
  <%= @advertisement.screen_id %>
</p>

<p>
  <strong>Template:</strong>
  <%= @advertisement.template_id %>
</p>

<p>
  <strong>Grid:</strong>
  <%= @advertisement.grid_id %>
</p>

<p>
  <strong>Template:</strong>
  <%= @advertisement.template_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @advertisement.position %>
</p>

<p>
  <strong>Widget size:</strong>
  <%= @advertisement.widget_size %>
</p>

<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
